:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

.infobox {
  width: 300px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-position-marker {
  z-index: 3000 !important;
  font-size: 60px;
}

.user-position-marker {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  /* transform: rotate(45deg) !important; */
}

.map-container {
  width: 100%;
  height: 100%;
}

.bike-marker {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: fit-content;
}

.bike-marker.available {
  background-color: #4caf50;
}

.bike-marker.unavailable {
  background-color: #9e9e9e;
}
