:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100%;
}

.bike-marker {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: fit-content;
}

.bike-marker.available {
  background-color: #4CAF50;
}

.bike-marker.unavailable {
  background-color: #9E9E9E;
}